@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-confirm-button {
    background-color: black;
    color: white;
    border-color: black; /* Cambia el color del borde si es necesario */
}

.custom-confirm-button:hover {
    background-color: rgb(32, 32, 32); /* Color del botón cuando se pasa el ratón */
    border-color: white; /* Color del borde cuando se pasa el ratón */
}